
.myHeader {
   background-color: #3c1402d2;
    text-align: center;
    font-weight:bolder;
    font-size: .8cm;
    color:#ecececf7; 
}

.myNum{
    color:#ff0000e9;
    font-size: 2cm;
    font-weight:bolder;
    text-align: center;

}
.mybutton{
    position: relative;
           left: 30%;
}

:host {
    --sds-c-card-color-background: #f0a715;
}

